[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=OpenRGB
Comment=OpenRGB startup profile
Exec=/usr/bin/openrgb -p rainbow.orp
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

